h2 {
    color: rgb(255, 93, 93);
}

h1 {
    color: rgb(93, 93, 255);
}

body {
    margin: auto;
    width: 50%;
    padding: auto;
    font-family: Arial;
}

h1, h2 {
    text-decoration: underline;
}